{% extends 'base.html.twig' %}

{% block title %}Книжный магазин - Поиск по категориям {% endblock %}

{% block body %}
<main>
    <div class="admin-content-block mt-2 pt-5 text-center row ms-5 me-5">
        {% for book in books %}
            {% if book.image|slice(0,8) == 'https://' or book.image|slice(0,7) == 'http://' %}
                <div class="col-lg-5 col-md-5 mb-5 ps-5 pe-5">
                    <img class="book-image" src="{{ book.image }}" alt="обложка">
                </div>
            {% else %}
                <div class="col-lg-5 col-md-5 mb-5 ps-5 pe-5">
                    <img class="book-image" src="{{ book_image ~ book.image }}" alt="обложка">
                </div>
            {% endif %}
            <div class="col-lg-7 col-md-7 block-with-book-description pt-4">
                <h2><a href="{{ path('app_guest_book_page',{ bookId:book.id}) }}">{{ book.name }}</a></h2>
                <p>{{ book.amountOfPages }}</p>
                <p>{{ book.isbn }}</p>
            </div>
        {% endfor %}
    </div>
    <div class="btn-toolbar mt-5 mb-5 d-flex" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2 text-center center-block books-pages-switchers" role="group" aria-label="First group">
            {% if (currentPage > 1) %}
                <a class="btn btn-warning btn-lg " href="{{ path('app_guest_book_by_category',{pageNumber: currentPage - 1, categoryId:categoryId}) }}"><<<</a>
            {% endif %}
            <a class="btn btn-warning btn-lg " href="">{{ currentPage }}</a>
            <a class="btn btn-warning btn-lg" href="{{ path('app_guest_book_by_category',{pageNumber: currentPage + 1,categoryId:categoryId  }) }}">>>></a>
            <a class="btn btn-warning btn-lg" href="{{ path('app_guest_book_by_category',{pageNumber: lastPage,categoryId:categoryId  }) }}">Последняя страница</a>
        </div>
    </div>
</main>
{% endblock %}