{% extends 'base.html.twig' %}

{% block title %} Книжный магазин - Название книги{% endblock %}

{% block body %}
<main>
    <div class="admin-content-block mt-2 pt-5 text-center ms-5 me-5 ">
        {% if book.image|slice(0,8) == 'https://' or book.image|slice(0,7) == 'http://' %}
        <div class="text-center">
            <img class="book-image-user-book-page rounded pb-3" src="{{ book.image }}" alt="обложка">
        </div>
        {% else %}
        <div class="text-center ">
            <img class="book-image-user-book-page rounded mb-5" src="{{ book_image ~ book.image }}" alt="обложка">
        <div>
        {% endif %}
        <div class="text-center">
        <h2>{{ book.name }}</h2>
        <p>{{ book.amountOfPages }}</p>
        <p class="mb-3">{{ book.isbn }}</p>
        <div class="mb-4">
            <p class="mb-3 h2">Категория книги:</p>
            {% for category in book.categories %}
                <a href="{{ path('app_book_category_show_one',{categoryId: category.id}) }}" class="mb-2 h4">{{ category }}</a>
            {% endfor %}
        </div>
        {% if sameCategoriesBooks != [] %}
            <p class="h3">Книги из аналогичных категорий:</p>
        {% for sameBook in sameCategoriesBooks %}
            <a href="{{ path('app_guest_book_page',{bookId:sameBook.id}) }}">{{ sameBook.name }}</a>
            <br>
        {% endfor %}
        {% endif %}
        </div>
    </div>
</main>
{% endblock %}
