{% extends 'base.html.twig' %}

{% block title %}Книжный магазин - Админка  {% endblock %}

{% block body %}
<main class="row">
    {{ include('book/_admin_panel.html.twig') }}
    <div class="col-lg-8 col-md-8 col-sm-12 admin-content-block pt-4 text-center row">
        <div class="mb-5">
            <a class="btn btn-outline-warning btn-lg admin-button w-75" href="{{ path('app_admin_books_add') }}">Добавить книгу</a>
        </div>
        {% for book in books %}
        {% if book.image|slice(0,8) == 'https://' or book.image|slice(0,7) == 'http://' %}
        <div class="col-lg-5 col-md-5">
            <img class="book-image" src="{{ book.image }}" alt="обложка">
        </div>
        {% else %}
        <div class="col-lg-5 col-md-5">
            <img class="book-image" src="{{ book_image ~ book.image }}" alt="обложка">
        </div>
        {% endif %}
        <div class="col-lg-7 col-md-7 block-with-book-description mb-5">
            <h2>{{ book.name }}</h2>
            <p>{{ book.amountOfPages }}</p>
            <p>{{ book.isbn }}</p>
            <div class="gap-2">
                <a class="btn btn-outline-warning btn-lg admin-button w-75 mb-2" href="{{ path('app_admin_books_edit',{ book:book.id}) }}">Редактировать книгу</a>
                <a class="btn btn-outline-warning btn-lg admin-button w-75" href="{{ path('app_admin_books_delete',{ book:book.id}) }}">Удалить книгу</a>
            </div>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}
